@use "color" as *;
@use "font" as *;

@mixin orLine() {
  content: "";
  padding: 0.5px;
  width: 100%;
  background-color: $darkAccent;
  border-radius: 2rem;
}

*,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: $lightest;
  font-family: $ff-primary;
}

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 0) {
  .twitter_img_form_container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    h1,
    h3 {
      color: $lightAccent;
      line-height: 1;
    }

    h1 {
      font-size: 8vw;
      padding-bottom: 4rem;
    }

    h3 {
      font-size: 1.5rem;
      padding-bottom: 2rem;
    }

    a {
      color: $light;
      text-decoration: none;
    }

    .twitter_img_container {
      display: center;
      align-items: center;
      justify-content: center;
      order: 1;
      padding: 1rem 0;
      width: 100%;
      height: 100%;
      background-image: url("https://pbs.twimg.com/profile_images/1647366627925819393/dx1_x24i_400x400.jpg");
      background-repeat: no-repeat;

      svg {
        width: 100%;
      }
    }

    .btn_container {
      // border: 3px solid red;
      width: 90%;
      display: flex;
      gap: calc($rem * 0.5);
      flex-direction: column;
      align-items: center;
      margin: 0;

      p {
        color: $darkAccent;
        font-size: 0.7rem;
      }

      .or_text {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        color: $lightest;

        &::before,
        &::after {
          @include orLine();
        }
      }
    }

    button {
      cursor: pointer;
      padding: calc($rem * 0.8) calc($rem * 2);
      width: 100%;
      color: $dark;
      border-radius: calc($rem * 2);
      background-color: $lightest;
      border: none;
      outline: none;
      display: flex;
      align-items: start;
      justify-content: center;
      gap: calc($rem * 0.5);

      &:hover {
        opacity: 0.95;
      }

      svg {
        width: 1rem;
      }
    }

    .appleBtn {
      font-weight: 901;
    }

    .createBtn {
      font-weight: 900;
      background-color: $light;
      color: $lightest;
    }

    .twitter_form_container {
      background-color: $dark;
      width: 100%;
      padding: calc($rem * 5) 2rem;

      .logo_mini {
        width: 4rem;
        object-fit: cover;
        margin-bottom: 3rem;

        img {
          width: 100%;
        }
      }

      .sign_in_btn {
        margin-top: 5.5rem;
        width: 100%;

        h4 {
          padding-bottom: $rem;
        }

        button {
          font-family: $ff-primary;
          font-weight: 900;
          background: transparent;
          color: $light;
          border: 1px solid $light;
          transition: all 150ms ease-in-out;

          &:hover {
            background: rgba(30, 157, 241, 0.13);
          }
        }
      }
    }
  }

  footer {
    color: $darkAccent;
    font-size: 0.8rem;
    padding: $rem 2rem;
    text-align: center;
    background-color: $dark;
    position: relative;
    bottom: 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    li {
      list-style: none;
      cursor: pointer;

      color: $darkAccent;
    }

    a {
      color: $light;
      transition: all 250ms ease-in-out;

      &:hover {
        filter: brightness(1.5);
      }
    }
  }
}

@media (min-width: 1000px) {
  .twitter_img_form_container {
    flex-direction: row;
    height: 100vh;

    h1 {
      font-size: 4rem;
    }

    .twitter_form_container {
      width: 50%;
      padding: calc($rem * 2) calc($rem * 3);

      .logo_mini {
        margin-bottom: 2rem;
      }
    }

    .twitter_img_container {
      width: 50%;
      order: 0;
      background-attachment: fixed;
    }

    .btn_container {
      width: 50%;
    }
  }
}
